.WebContainer {
  width: 100%;
  height: auto;
}
.articles {
  width: 90%; /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
}
header {
  background: rgb(139, 233, 139);
  text-align: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

h1 {
  font-family: "Zapf Chancery";
  font-size: 80px;
  margin-bottom: 30px;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
